<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="INFRA" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames">
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampPattern>
            <timeZone>Etc/UTC</timeZone>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="INFRA"/>
    </root>

</configuration>
